fastapi==0.115.0
uvicorn==0.30.6
strawberry-graphql==0.233.0
SQLAlchemy==2.0.34
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
alembic==1.13.2
psycopg[binary]==3.2.1
psycopg2-binary==2.9.9
pytest==8.3.3
